<h1>Editing construction</h1>

<%= render "form", construction: @construction %>

<br>

<div>
  <%= link_to "Show this construction", @construction %> |
  <%= link_to "Back to constructions", constructions_path %>
</div>
