<div id="<%= dom_id city %>">
  <p>
    <strong>Name:</strong>
    <%= city.name %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= city.postal_code %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= city.region_id %>
  </p>

</div>
